
.news-manager {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.news-manager-table {
    width: 50%;
    
}
.title-news-manager h1 {
    font-family: Quicksand;
    font-size: 24pt;
    font-weight: bold;
}
.news-item {
    border-bottom: 1.5px solid gray;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
}
.news-item h1 {
    font-family: Roboto;
    font-size: 24pt;
    padding-left: 10px;
}
.basic-param {
    margin-top: auto;
    display: grid;
    grid-template-columns: 175px 175px;
    margin-left: 10px;
}
.basic-param .type, .basic-param .address {
    grid-column-start: 1;
    grid-column-end: 3;
}
.news-item img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin-right: 10px;
}
.basic-param h4 {
    font-family: Quicksand;
    font-size: 12pt;
    font-weight: lighter;
}
.price {
    color:#FA38A0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.price h1 {
    font-family: Roboto;
    font-size: 48pt;
    font-weight: bold;
}
.price h3 {
    font-family: Roboto;
    font-size: 12pt;
    font-weight: bold;
}
div:focus {

    outline: none;
    box-shadow: none;
}
.btn:focus{
    outline: none;
    box-shadow: none;
}