.news-post{
    margin-top: 150px;
    margin-left: 160px;
}
.imformation-basic, .address {
    
    align-items: center;
    
}
.imformation-basic-type, .address{

    display: flex;
    flex-direction: row;
}
.imformation-basic-title, .address-title,.utility-title {
    font-family: Quicksand;
    
    font-style: normal;
    font-weight: bold;
    
    
}
.imformation-basic-content {
  display: flex;
  justify-content:start;
  align-items: flex-start;
  flex-direction: row;
}
.imformation-basic-content-1,.imformation-basic-content-2, .address-content, .utility-content {
  display: flex;
  justify-content:start;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}

.imformation-basic-content-2,.utility-content, .content{
  margin-left: 148px;
}
.imformation-basic-type-title {
    color: #636363;
    font-family: Quicksand;
    font-weight: lighter;
}

  .imformation-basic-type-radio-group{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 5px;
    font-family: Quicksand; 
    font-size: 13pt;
    font-weight: lighter;
  }
  .imformation-basic-sex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .imformation-basic-sex-radio-group{
    margin-left: 30px;
    margin-top: 5px;
    font-family: Quicksand; 
    font-size: 13pt;
    font-weight: lighter;
  }
  input[type="file"]{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
  }
  input[type="file"],
  input[type="file"]:before,
  input[type="file"]:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: auto;
    font-size: 16px;
    margin-top: 30px;
    
  }
  .file-loading label {
    font-size: 16pt;
    font-weight: normal;
    font-family: Quicksand;
    color: white;
    background-color: #474DEE;
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 2px;

}
.file-loading:focus + label:focus,   .file-loading:hover, label:hover {
  outline: 2px dotted #2D35F9;
	outline: -webkit-focus-ring-color auto 5px #2D35F9;
  background-color: #2D35F9;
}
.img-show {
  position: relative;
}
.img-show svg {
  position:absolute;
  top: 2px;
  right: 2px;
  z-index: 2;
}
.img-show img {
  position: relative;
  z-index: 1;
}
  
.img-menu {
  display: flex;
  flex-direction: row;
}
.utility-section {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  font-family: Quicksand;
  font-size: 14pt;
  font-weight: lighter;
  padding-top: 45px;
}
.btn-menu-group {
  margin-left: 50%;
}
.btn-menu-group button {
  font-size: 13pt; margin-left: 50px; margin-top: 20px; padding: 5px 10px;
}