<div class="news-post" >
    <mat-horizontal-stepper style="margin-left: 148px; margin-right: 148px;" [linear]="false" #stepper>
        <mat-step>
            <form class="imformation-basic" [formGroup]="newsForm">
                <ng-template matStepLabel>Thông tin</ng-template>

                <div class="imformation-basic-content">

                    <div class="imformation-basic-content-1">
                        <h1 class="imformation-basic-title">Thông tin phòng</h1>
                        <div class="imformation-basic-type">
                            <div>
                                <h2 class="imformation-basic-type-title">LOẠI PHÒNG:</h2>
                            </div>
                            <div>
                                <mat-radio-group aria-label="Select an option" formControlName="type"
                                    class="imformation-basic-type-radio-group">
                                    <mat-radio-button value="Ký túc xá/Homestay">Ký túc xá/Homestay</mat-radio-button>
                                    <mat-radio-button value="Phòng trọ cho thuê">Phòng trọ cho thuê</mat-radio-button>
                                    <mat-radio-button value="Phòng ở ghép">Phòng ở ghép</mat-radio-button>
                                    <mat-radio-button value="Nhà nguyên căn">Nhà nguyên căn</mat-radio-button>
                                    <mat-radio-button value="Căn hộ">Căn hộ</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="imformation-basic-number-zoom">
                            <mat-form-field style="width: 375px; font-family: Quicksand; font-size: 13pt;">
                                <mat-label style="font-weight:normal; color: #636363">SỐ LƯỢNG PHÒNG</mat-label>
                                <input formControlName="numRoom" type="text" matInput
                                    placeholder="Nhập số phòng bạn đang quản lý">
                                <mat-icon matSuffix style="font-weight:bold">phòng</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="imformation-basic-capacital-zoom">
                            <mat-form-field style="width:375px; font-family: Quicksand; font-size: 13pt;">
                                <mat-label style="font-weight:normal; color: #636363">SỨC CHỨA</mat-label>
                                <input type="text" formControlName="capacity" matInput placeholder="Nhập số người/phòng">
                                <mat-icon matSuffix style="font-weight:bold">người/phòng</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="imformation-basic-sex">

                            <h3 class="imformation-basic-sex-title" style="font-weight:normal; color: #636363">GIỚI
                                TÍNH: </h3>

                            <mat-radio-group aria-label="Select an option" 
                                class="imformation-basic-sex-radio-group ml-3 mt-1" formControlName="sex">
                                <mat-radio-button value="Nam" class="ml-3">Nam</mat-radio-button>
                                <mat-radio-button value="Nữ" class="ml-3">Nữ</mat-radio-button>
                                <mat-radio-button value="Nam và Nữ" class="ml-3">Tất cả</mat-radio-button>
                            </mat-radio-group>

                        </div>

                        <div class="imformation-basic-square">
                            <mat-form-field style="width:375px; font-family: Quicksand; font-size: 13pt;">
                                <mat-label style="font-weight:normal; color: #636363">Diện tích</mat-label>
                                <input type="text" formControlName="square" matInput placeholder="Nhập diện tích phòng">
                                <mat-icon matSuffix style="font-weight:bold">m<sup>2</sup></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="imformation-basic-content-2">
                        <h1 class="imformation-basic-title">Chi phí</h1>
                        <div class="imformation-basic-number-zoom">
                            <mat-form-field style="width: 375px; font-family: Quicksand; font-size: 13pt;">
                                <mat-label style="font-weight:normal; color: #636363">GIÁ CHO THUÊ</mat-label>
                                <input type="text" formControlName="price" matInput placeholder="Nhập giá cho thuê">
                                <mat-icon matSuffix style="font-weight:bold">VNĐ/phòng</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="imformation-basic-number-zoom">
                            <mat-form-field style="width: 375px; font-family: Quicksand; font-size: 13pt;">
                                <mat-label style="font-weight:normal; color: #636363">ĐẶT CỌC</mat-label>
                                <input type="text" formControlName="deposit" matInput placeholder="Nhập tiền đặt cọc">
                                <mat-icon matSuffix style="font-weight:bold">VNĐ/phòng</mat-icon>
                            </mat-form-field>
                        </div>
                        <div>
                            <button style="font-size: 13pt; margin-left: 100px; padding: 5px 10px;" mat-raised-button
                                color="primary" matStepperNext (click)="showForm()">NEXT
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </mat-step>
        <mat-step label="Địa chỉ - Tiện ích">
            <form class="address" [formGroup]="addressForm">
                <div class="address-content">
                    <h1 class="address-title">Địa chỉ </h1>
                    <div class="address-city">
                        <mat-form-field style="width: 375px; font-family: Quicksand; font-size: 13pt;">
                            <mat-label style="font-weight:normal; color: #636363">Thành phố</mat-label>
                            <input type="text"  formControlName="city" matInput placeholder="Nhập tên tỉnh/thành phố">
                        </mat-form-field>
                    </div>
                    <div class="address-district">
                        <mat-form-field style="width: 375px; font-family: Quicksand; font-size: 13pt;">
                            <mat-label style="font-weight:normal; color: #636363">Huyện/Quận</mat-label>
                            <input type="text" formControlName="district" matInput placeholder="Nhập tên huyện/quận">
                        </mat-form-field>
                    </div>
                    <div class="address-ward">
                        <mat-form-field style="width: 375px; font-family: Quicksand; font-size: 13pt;">
                            <mat-label style="font-weight:normal; color: #636363">Xã/Phường</mat-label>
                            <input type="text" formControlName="ward" matInput placeholder="Nhập tên xã/phường">
                        </mat-form-field>
                    </div>
                    <div class="address-street">
                        <mat-form-field style="width: 375px; font-family: Quicksand; font-size: 13pt;">
                            <mat-label style="font-weight:normal; color: #636363">Đường</mat-label>
                            <input type="text" formControlName="street" formControlName="street" matInput placeholder="Nhập tên đường">
                        </mat-form-field>
                    </div>
                    <div class="address-detail">
                        <mat-form-field style="width: 375px; font-family: Quicksand; font-size: 13pt;">
                            <mat-label style="font-weight:normal; color: #636363">Địa chỉ cụ thể</mat-label>
                            <input type="text" formControlName="number" matInput placeholder="Nhập số nhà,ngõ ngách, hẻm">
                        </mat-form-field>
                    </div>
                </div>
                <div class="utility">
                    <div class="utility-content">
                        <h1 class="utility-title">Tiện ích</h1>
                        <div class="utility-image">
                            <div class="img-menu">
                                <div class="img-show" *ngFor='let url of images; let i=index;'>
                                    <div *ngIf="i < 3">
                                        <a (click)="remove(i)"><svg width="30" height="30" viewBox="0 0 48 48"
                                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M24 4C12.94 4 4 12.94 4 24C4 35.06 12.94 44 24 44C35.06 44 44 35.06 44 24C44 12.94 35.06 4 24 4ZM24 40C15.18 40 8 32.82 8 24C8 15.18 15.18 8 24 8C32.82 8 40 15.18 40 24C40 32.82 32.82 40 24 40ZM24 21.18L31.18 14L34 16.82L26.82 24L34 31.18L31.18 34L24 26.82L16.82 34L14 31.18L21.18 24L14 16.82L16.82 14L24 21.18Z"
                                                    fill="#4F4F4F" />
                                            </svg></a>

                                        <img [src]="url" height="100" width="100px" style="margin: 3px;"> <br />
                                    </div>
                                </div>

                            </div>
                            <div class="file-loading">

                                <label for="file"><svg width="50" height="50" viewBox="0 0 78 78" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M27.625 21.125H17.875V30.875H11.375V21.125H1.625V14.625H11.375V4.875H17.875V14.625H27.625V21.125ZM59.5725 21.125H69.875C73.45 21.125 76.375 24.05 76.375 27.625V66.625C76.375 70.2 73.45 73.125 69.875 73.125H17.875C14.3 73.125 11.375 70.2 11.375 66.625V37.375H17.875V66.625H69.875V27.625H56.7125L50.765 21.125H34.125V14.625H53.625L59.5725 21.125ZM43.875 63.375C34.905 63.375 27.625 56.095 27.625 47.125C27.625 38.155 34.905 30.875 43.875 30.875C52.845 30.875 60.125 38.155 60.125 47.125C60.125 56.095 52.845 63.375 43.875 63.375ZM43.875 37.375C49.2375 37.375 53.625 41.7625 53.625 47.125C53.625 52.4875 49.2375 56.875 43.875 56.875C38.5125 56.875 34.125 52.4875 34.125 47.125C34.125 41.7625 38.5125 37.375 43.875 37.375Z"
                                            fill="#F2F2F2" />
                                    </svg>&nbsp;
                                    Chọn ít nhất 1 hình ảnh</label>
                                <input accept="image/*" id="file" formControlName="file" type="file" class="form-control" multiple=""
                                    (change)="onFileChange($event)">



                            </div>


                            <section class="utility-section" formArrayName="utility">
                                <mat-checkbox class="example-margin" (change)="onCheckboxChange($event)" value="WC riêng">WC riêng</mat-checkbox>
                                <mat-checkbox class="example-margin" (change)="onCheckboxChange($event)" value="Chỗ để xe">Chỗ để xe</mat-checkbox>
                                <mat-checkbox class="example-margin" (change)="onCheckboxChange($event)" value="Chủ riêng">Chủ riêng</mat-checkbox>
                                <mat-checkbox class="example-margin"(change)="onCheckboxChange($event)" value="Tự do">Tự do</mat-checkbox>
                                <mat-checkbox class="example-margin" (change)="onCheckboxChange($event)" value="Máy nước nóng">Máy nước nóng</mat-checkbox>
                                <mat-checkbox class="example-margin" (change)="onCheckboxChange($event)" value="Tủ lạnh">Tủ lạnh</mat-checkbox>
                                <mat-checkbox class="example-margin" (change)="onCheckboxChange($event)" value="Điều hòa">Điều hòa</mat-checkbox>
                                <mat-checkbox class="example-margin" (change)="onCheckboxChange($event)" value="Máy giặt">Máy giặt</mat-checkbox>
                                <mat-checkbox class="example-margin" (change)="onCheckboxChange($event)" value="Giường">Giường</mat-checkbox>
                                <mat-checkbox class="example-margin" (change)="onCheckboxChange($event)" value="Bếp">Bếp</mat-checkbox>

                            </section>
                        </div>
                    </div>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <button style="font-size: 13pt; margin-left: 50px; margin-top: 20px; padding: 5px 10px;"
                        color="primary" mat-raised-button matStepperPrevious>BACK</button>
                    <button style="font-size: 13pt; margin-left: 50px;margin-top: 20px;  padding: 5px 10px;"
                        color="primary" mat-raised-button matStepperNext (click)="showForm()">NEXT</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Nội dung</ng-template>
            <div class="content" [formGroup]="contentForm">
                <div class="content-title">
                    <mat-form-field style="width: 75%; font-family: Quicksand; font-size: 13pt;">
                        <mat-label style="font-weight:normal; color: #636363">Tiêu đề</mat-label>
                        <input type="text" formControlName="title" matInput placeholder="Nhập tiêu đề không quá 100 ký tự">
                    </mat-form-field>
                </div>
                <div class="content-desciption">
                    <div class="content-title">
                        <mat-form-field appearance="fill"
                            style="width:75%; height: 100%;font-family: Quicksand; font-size: 13pt;">
                            <mat-label>Mô tả</mat-label>
                            <textarea matInput  formControlName="description" rows="10"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="btn-menu-group">
                <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" (click)="save()">Xuất bản</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>