<div id="app">
  <nav *ngIf="!isHome || pageYoffset > 400" class="navbar navbar-expand " style=" background-color:white; position: fixed; width: 100%; height: 80px; z-index: 10; top:0px; padding-right: 148px; ">
    <a href="#" class="navbar-brand">AN GIA THIÊN HA</a>
    <div class="home-search">
      <input class="form-control " [(ngModel)]="searchForm" placeholder="Tìm kiếm theo địa điểm, quận, tên đường,...">
      <a [href]="'/search/news?search='+searchForm"><svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M37.4181 33.8557H35.5418L34.8768 33.2144C37.2043 30.5069 38.6056 26.9919 38.6056 23.1682C38.6056 14.6419 31.6943 7.73065 23.1681 7.73065C14.6418 7.73065 7.73059 14.6419 7.73059 23.1682C7.73059 31.6944 14.6418 38.6057 23.1681 38.6057C26.9918 38.6057 30.5068 37.2044 33.2143 34.8769L33.8556 35.5419V37.4182L45.7306 49.2694L49.2693 45.7307L37.4181 33.8557ZM23.1681 33.8557C17.2543 33.8557 12.4806 29.0819 12.4806 23.1682C12.4806 17.2544 17.2543 12.4807 23.1681 12.4807C29.0818 12.4807 33.8556 17.2544 33.8556 23.1682C33.8556 29.0819 29.0818 33.8557 23.1681 33.8557ZM21.9806 21.9807V17.2307H24.3556V21.9807H29.1056V24.3557H24.3556V29.1057H21.9806V24.3557H17.2306V21.9807H21.9806Z" fill="#2F80ED"/>
        </svg>
        
      </a>
    </div>
    <ul class="navbar-nav ml-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" style="color: black;" routerLink="home">Trang chủ</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto mr-5" *ngIf="!isLoggedIn">
      <!-- <li class="nav-item">
        <a href="/register" class="nav-link" style=" color: white;" routerLink="register">Sign Up</a>
      </li> -->
      <li class="nav-item">
        <a href="/login"  class="nav-link"  style="color: black;" routerLink="login">Đăng nhập</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <button  [matMenuTriggerFor]="menu" class="nav-link btn" style="color: black;">{{ username }}</button>
        <mat-menu #menu="matMenu">
          <a href="/post-news"  class="nav-link" style="color: black; font-family: Quicksand;" routerLink="post-news">Đăng tin</a>
          <a href="/profile"  class="nav-link" style="color: black; font-family: Quicksand;" routerLink="profile">Profile</a>
          <a href="/your-news"  class="nav-link" style="color: black; font-family: Quicksand;" routerLink="your-news">Tin đăng của bạn</a>
          <a href="/manager-news" *ngIf="showAdminBoard"  class="nav-link" style="color: black; font-family: Quicksand;" routerLink="manager-news">Quản lý tin đăng</a>
            <a href class="nav-link" style="color: black; font-family: Quicksand;" (click)="logout()">Đăng xuất</a>
        </mat-menu>
      </li>
      
    </ul>
  </nav>
  <div class="news-manager-bar" *ngIf="!isHome" [formGroup]="form">
    <div class="title-news-manager"><button  mat-button [matMenuTriggerFor]="menu" class="btn-province btn">{{ province == 'Hà Nội' ? 'Hà Nội':'HCM'}} <svg width="25" height="25" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M31.1063 15.5531L22.5 24.1406L13.8937 15.5531L11.25 18.1969L22.5 29.4469L33.75 18.1969L31.1063 15.5531Z" fill="#333333"/>
        </svg>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item style="width:300px" (click)="province='Hà Nội'; ">Hà Nội</button>
        <button mat-menu-item style="width:300px" (click)="province='Hồ Chí Minh';ngOnInit()">Hồ Chí Minh</button>
      </mat-menu>
</div>
<div class="price-choose">
    <h3>Giá: VNĐ</h3>
<mat-slider
thumbLabel
[displayWith]="formatLabel"
tickInterval="10000000"
min="100000"
max="30000000"></mat-slider>
</div>
<div class="square-choose">
<h3>Diện tích: m<sup>2</sup></h3>
<mat-slider
thumbLabel
[displayWith]="formatLabel"
tickInterval="15"
min="10"
max="100"></mat-slider>
</div>
<section class="utility-section" formArrayName="utility" >
    <mat-checkbox class="example-margin" (change)="onCheckboxChange($event)" value="WC riêng">WC riêng</mat-checkbox>
    <mat-checkbox class="example-margin" (change)="onCheckboxChange($event)" value="Chỗ để xe">Chỗ để xe</mat-checkbox>
    <mat-checkbox class="example-margin" (change)="onCheckboxChange($event)" value="Chủ riêng">Chủ riêng</mat-checkbox>
    <mat-checkbox class="example-margin"(change)="onCheckboxChange($event)" value="Tự do">Tự do</mat-checkbox>
    <mat-checkbox class="example-margin" (change)="onCheckboxChange($event)" value="Máy nước nóng">Máy nước nóng</mat-checkbox>
    <mat-checkbox class="example-margin" (change)="onCheckboxChange($event)" value="Tủ lạnh">Tủ lạnh</mat-checkbox>
    <mat-checkbox class="example-margin" (change)="onCheckboxChange($event)" value="Điều hòa">Điều hòa</mat-checkbox>
    <mat-checkbox class="example-margin" (change)="onCheckboxChange($event)" value="Máy giặt">Máy giặt</mat-checkbox>
    <mat-checkbox class="example-margin" (change)="onCheckboxChange($event)" value="Giường">Giường</mat-checkbox>
    <mat-checkbox class="example-margin" (change)="onCheckboxChange($event)" value="Bếp">Bếp</mat-checkbox>

</section>
</div>
    <router-outlet style="z-index: 1;"></router-outlet>

</div>
