
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4" >
                <div class="profile-img" *ngFor="let s of news.fileSource">
                    <img [src]="s" alt="" />
                    <div class="file btn btn-lg btn-primary">
                        An gia thiên hạ
                        <input type="file" name="file"/>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="profile-head">
                            <h5>
                               {{news.title}}
                            </h5>
                            <p>
                                {{news.description}}
                            </p>
                            
                            <div class="basic-param">
                                <h4 class="proile-rating">Tiên ích : <span>{{news.utility}}</span></h4>
                                <h4 class="type"><svg width="30" height="30" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.5 8.25V17.25H31.5V32.25H4.5V11.25H13.5V8.25L18 3.75L22.5 8.25ZM7.5 29.25H10.5V26.25H7.5V29.25ZM10.5 23.25H7.5V20.25H10.5V23.25ZM7.5 17.25H10.5V14.25H7.5V17.25ZM16.5 29.25V26.25H19.5V29.25H16.5ZM16.5 20.25V23.25H19.5V20.25H16.5ZM16.5 17.25V14.25H19.5V17.25H16.5ZM16.5 8.25V11.25H19.5V8.25H16.5ZM28.5 29.25H25.5V26.25H28.5V29.25ZM25.5 23.25H28.5V20.25H25.5V23.25Z" fill="black" fill-opacity="0.54"/>
                                    </svg>&nbsp;
                                    {{news.type}}</h4>
                                <h4 class="sex"><svg width="30" height="30" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 18C16.395 18 18.75 15.645 18.75 12.75C18.75 9.855 16.395 7.5 13.5 7.5C10.605 7.5 8.25 9.855 8.25 12.75C8.25 15.645 10.605 18 13.5 18ZM3 25.875C3 22.38 9.99 20.625 13.5 20.625C17.01 20.625 24 22.38 24 25.875V28.5H3V25.875ZM13.5 23.625C10.815 23.625 7.77001 24.63 6.51001 25.5H20.49C19.23 24.63 16.185 23.625 13.5 23.625ZM15.75 12.75C15.75 11.505 14.745 10.5 13.5 10.5C12.255 10.5 11.25 11.505 11.25 12.75C11.25 13.995 12.255 15 13.5 15C14.745 15 15.75 13.995 15.75 12.75ZM24.06 20.715C25.8 21.975 27 23.655 27 25.875V28.5H33V25.875C33 22.845 27.75 21.12 24.06 20.715ZM27.75 12.75C27.75 15.645 25.395 18 22.5 18C21.69 18 20.94 17.805 20.25 17.475C21.195 16.14 21.75 14.505 21.75 12.75C21.75 10.995 21.195 9.36 20.25 8.025C20.94 7.695 21.69 7.5 22.5 7.5C25.395 7.5 27.75 9.855 27.75 12.75Z" fill="black" fill-opacity="0.54"/>
                                    </svg>&nbsp;
                                    {{news.sex}}</h4>
                                
                                <h4 class="square"><svg width="30" height="30" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M31.065 6.0631C31.65 5.47816 31.65 4.53326 31.065 3.94832L27.555 0.438683C27.2748 0.157833 26.8943 0 26.4975 0C26.1007 0 25.7202 0.157833 25.44 0.438683L22.5 3.37838L28.125 9.0028L31.065 6.0631ZM6 19.8767L21 4.87825L26.625 10.5027L11.625 25.5011H6V19.8767ZM9 22.5014H10.38L22.38 10.5027L21 9.12281L9 21.1216V22.5014ZM36 30.0007H0V36H36V30.0007Z" fill="black" fill-opacity="0.54"/>
                                    </svg>&nbsp;
                                    {{news.square}}m<sup>2</sup></h4>
                                <h4 class="address"><svg width="30" height="30" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M18 3C22.965 3 27 7.035 27 12C27 18.75 18 28.5 18 28.5C18 28.5 9 18.75 9 12C9 7.035 13.035 3 18 3ZM28.5 33V30H7.5V33H28.5ZM12 12C12 8.685 14.685 6 18 6C21.315 6 24 8.685 24 12C24 15.195 20.88 20.19 18 23.865C15.12 20.205 12 15.195 12 12ZM15 12C15 10.35 16.35 9 18 9C19.65 9 21 10.35 21 12C21 13.65 19.665 15 18 15C16.35 15 15 13.65 15 12Z" fill="black" fill-opacity="0.54"/>
                                    </svg>&nbsp;
                                    {{news.number}}, {{news.street}}, {{news.ward}}, {{news.district}}</h4>
                            </div>
                </div>
            </div>
        </div>
        
    </form>           
</div>