body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
 
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
    padding-top:100px;
    padding-left: 150px;
}
.profile-img{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.profile-img img {
    width: 300px;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;

}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.basic-param .type, .basic-param .address {
    grid-column-start: 1;
    grid-column-end: 3;
}
.news-item img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin-right: 10px;
}
.basic-param h4 {
    font-family: Quicksand;
    font-size: 12pt;
    font-weight: lighter;
}
.profile-head h5 {
    font-family: Roboto;
font-weight: bold;
font-size: 16pt;
line-height: 42px;

color: #000000;
}
.profile-head p {
    font-family: Quicksand;
font-size: 12pt;

}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
