body {
    background: #BA68C8
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: #BA68C8;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}
.container {
   
    border: grey 2px solid;
    margin-top: 150px;
    z-index: 11;
    margin-left: 500px;
    width: 60%;
}

.profile-img{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.profile-img img {
    height: auto;
    margin-top: 10px;
    border-radius: 10px;

}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -30px;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}