<div class="container rounded bg-white">
  <div class="row">
    <div class="col-md-4 border-right">
      <div class="d-flex flex-column align-items-center text-center p-1 py-2">
        <div class="profile-img">
        <img class="mt-5"
          [src]="currentUser?.avt" width="150" height="150">
            <div class="file btn btn-lg btn-primary">
              Thay
              <input type="file" accept="image/*" (change)="onFileChange($event)" name="file"/>
            </div>
          </div>
          <span class="font-weight-bold"> {{currentUser?.username}}</span><span
          class="text-black-50">{{currentUser?.email}}</span><span>{{currentUser?.country}}</span>
    </div>
      </div>
    <div class="col-md-8">
      <div class="p-3 py-5">
        <div class="row mt-2">
          <div class="col-md-6"><input type="text" class="form-control" [(ngModel)]="currentUser!.firstName!"
              placeholder="first name" value="John"></div>
          <div class="col-md-6"><input type="text" class="form-control" [(ngModel)]="currentUser.lastName" value="Doe"
              placeholder="Doe"></div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6"><input type="text" class="form-control" [(ngModel)]="currentUser.email"
              placeholder="Email" value="john_doe12@bbb.com"></div>
          <div class="col-md-6"><input type="text" class="form-control" [(ngModel)]="currentUser.phone"
              value="+19685969668" placeholder="Phone number"></div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6"><input type="text" class="form-control" [(ngModel)]="currentUser.address"
              placeholder="address" value="Hà Nội"></div>
          <div class="col-md-6"><input type="text" class="form-control" [(ngModel)]="currentUser.country"
              value="Việt Nam" placeholder="Country"></div>
        </div>

        <div class="mt-5 text-right"><button class="btn btn-primary profile-button" type="button">Save Profile</button>
        </div>
      </div>
    </div>

</div>
</div>