/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: RockSalt;
    src: url(assets/font/RockSalt-Regular.ttf) format("opentype");
  }

  @font-face {
    font-family: Roboto;
    src: url(assets/font/Roboto-Regular.ttf) format("opentype");
  }

  @font-face {
    font-family: Quicksand;
    src: url(assets/font/Quicksand-VariableFont_wght.ttf) format("opentype");
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
