.home {
    background-image: url("../../assets/img/backgroud-navbar.png");
    width: 100%;
    height: 500px;
    background-size: cover;
    mix-blend-mode: multiply;
    opacity: 0.95;
}
.welcome {
    padding-top: 45px;
    display: grid;
    grid-template-columns: 75% 10% 10%;
    font-family: Quicksand;
    font-weight: bold;
}
.welcome-brand {
    font-family: RockSalt;
    color: white;
    padding-left: 148px;

}
.home-slogan {
    font-family: Quicksand;
    font-style: normal;
    font-size: 16pt;


    color: #FFFFFF;
    margin-left: 148px;
    margin-top: 52px;
    width: 35%;
}
.home-search{
    display: flex;
    width: 500px;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-left: 148px;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 5px;
    margin-top: 52px;
}
.home-search-icon {
    background-color: #4D53F1;
    border-radius: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
  }
  .form-control {
      border: none;
  }

  .news-list {
      background-color: #EDD9D9;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-self: center;
  }
  .news-view {
    background-color: white;
    width: 50%;
    border-radius: 15px;
    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.news-view > a {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14pt;
line-height: 28px;

color: #0823AF;
padding-top: 20px;
}