<div class="home">
  <div class="welcome">
    <h1 class="welcome-brand" >AN GIA THIÊN HA</h1>
    <a href="/home" style=" color: white; font-size: 16pt;"  routerLink="home">Trang chủ</a>
    <a href="/post-news"  style=" color: white; font-size: 16pt;">Đăng tin</a>
  </div>
  <p class="home-slogan">Ứng dụng tìm kiếm phòng trọ cho thuê miễn phí hàng đầu Việt Nam</p>
  <div class="home-search">
    <input class="form-control custom-search" [(ngModel)]="searchForm" placeholder="Tìm kiếm theo địa điểm, quận, tên đường,...">
    <a [href]="'/search/news?search='+searchForm"><svg width="50" height="50" class="home-search-icon" viewBox="0 0 50 50"  xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M37.4181 33.8557H35.5419L34.8769 33.2144C37.2044 30.5069 38.6056 26.9919 38.6056 23.1682C38.6056 14.6419 31.6944 7.73065 23.1681 7.73065C14.6419 7.73065 7.73062 14.6419 7.73062 23.1682C7.73062 31.6944 14.6419 38.6057 23.1681 38.6057C26.9919 38.6057 30.5069 37.2044 33.2144 34.8769L33.8556 35.5419V37.4182L45.7306 49.2694L49.2694 45.7307L37.4181 33.8557ZM23.1681 33.8557C17.2544 33.8557 12.4806 29.0819 12.4806 23.1682C12.4806 17.2544 17.2544 12.4807 23.1681 12.4807C29.0819 12.4807 33.8556 17.2544 33.8556 23.1682C33.8556 29.0819 29.0819 33.8557 23.1681 33.8557ZM21.9806 21.9807V17.2307H24.3556V21.9807H29.1056V24.3557H24.3556V29.1057H21.9806V24.3557H17.2306V21.9807H21.9806Z" fill="#F2F2F2"/>
      </svg>
    </a>
  </div>
</div>
<div class="news-list">
  <div class="news-view">
    <h1 style="font-family: Quicksand; font-style: normal; font-weight: bold;font-size: 24pt;line-height: 60px;color: #000000;">Phòng mới nhất</h1>
  <app-search-news></app-search-news>
  <a href="/search/news?search=" class="see-all">Xem tất cả</a>
</div>

</div>